<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        ngModel
        required
        email
        name="email"
        matInput
        type="email"
        placeholder="E-Mail"
        #emailInput="ngModel">
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        required
        ngModel
        name="password"
        #passwordInput="ngModel"
        type="password"
        matInput
        placeholder="Password">
      <mat-error *ngIf="emailInput.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Sign Up</button>
  </form>
</mat-card>

